<% if user_signed_in? %>
  <div class="user-menu">

    <p class='big-title'><%= controller_name.titleize %></p>
    <p class="sinout"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
  </div>
<% else %>
  <div class="user-menu">
    <%= link_to "Sign Up", new_user_registration_path %>
    <%= link_to "Sign In", new_user_session_path %>
  </div> 
<% end %>